<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Curso Vue.js</title>
</head>

<body>
    <div id="app">

        <h1>{{titulo}}</h1>

        <input type="text" v-model="nuevoVehiculo" @keyup.enter="agregarVehiculo">
        <!--<button v-on:click="agregarVehiculo">Agregar</button>-->
        <button @click="agregarVehiculo">Agregar</button>

        <ul>
            <li v-for="fruta of frutas">{{fruta}}</li>
        </ul>

        <ul>
            <li v-for="vehiculo of vehiculos">
                <input type="number" v-model.number="vehiculo.cantidad">
                {{vehiculo.marca}} - {{vehiculo.cantidad}}
                <button @click="vehiculo.cantidad++">+</button>
                <button @click="vehiculo.cantidad--">-</button>
                <span v-if="vehiculo.cantidad === 0"> - Sin stock</span>
            </li>
        </ul>

        <h4>TOTAL : {{sumarVehiculos}}</h4>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="prueba.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>